<!DOCTYPE html>
<html>
<head>
    <title>User Information Page</title>
    <link rel="stylesheet" href="./style.scss">
    <style>
      .image {
        height: 200px;
        width: 200px;
      }
    </style>
</head>
<body>
    <h1>User Information</h1>
    <img  alt="USER" src="<%= imageURL %>" class="image"/>
    <!-- <img src="/Users/shubham.thorat/Documents/Callbreak/PDF/static/user.jpeg"/> -->
    <form>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%= name %>">
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="<%= age %>">
        </div>
        <div>
            <label for="rating">Rating:</label>
            <input type="email" id="email" name="email" value="<%= email %>">
        </div>
    </form>
</body>
</html>
